.footer {
    font-family: 'Manrope', sans-serif;


    .container1 {
        //maybe make another container to fix styles?
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #F9F9FB;
        padding-top: 81px;
        padding-bottom: 63px;

        nav {
            .firstLinkGroup {
                display: flex;
                flex-direction: row;
                list-style: none;
                font-size: 18px;
                font-weight: 700;
                line-height: 24.66px;

                li {
                    margin-right: 133px;
                    cursor: pointer;
                }
            }

            .sub {
                display: flex;
                flex-direction: row;
                font-size: 16px;
                font-weight: 400;

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin-right: 64px; //eventually add top and bottom margins


                    li {
                        cursor: pointer;
                        line-height: 23px;
                        margin-bottom: 6px; //maybe get rid of or change
                    }

                }
            }

        }

        .sign-and-socials {
            p {
                font-size: 18px;
                font-weight: 700;
                line-height: 24.66px;
                text-align: left;
            }

            form {
                text-align: left;
                font-size: 14px;

                .email {
                    width: auto;
                    height: auto;
                    border-radius: 4px 0px 0px 4px;
                    border: 1.19px solid #2C2C2C;
                    padding: 15px;
                    padding-right: 158px;
                    font-weight: 300;
                    // color: #C4C4C4;
                }

                .submit {
                    padding: 15px;
                    width: 105px;
                    height: auto;
                    border-radius: 0px 4px 4px 0px;
                    background-color: #2C2C2C;
                    border: 1.19px solid #2C2C2C;
                    color: white;
                    font-weight: 600;
                }


            }

            .icon-div {
                margin-top: 31px;

                .icons {
                    text-align: left;
                    margin-top: 23px;

                    i {
                        font-size: 23px;
                        color: #7A7A7A;
                        margin-right: 18px;
                    }
                }
            }
        }

    }

    .container2 {
        display: flex;
        justify-content: space-around;
        background-color: #F0F0F2;
        font-size: 16px;
        line-height: 18.5px;
        font-weight: 400;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;

            li {
                margin: 0px 5px;
                cursor: pointer;
            }
        }
    }
}